# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
*.env/
*.venv/
miniconda3/
conda_env/

# IDE stuff
.idea/
.vscode/

# PyCharm
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

#images directory
images/
video/

#images
*.jpg
*.png

#videos
*.mp4